{% extends 'base.html' %}

{% block content %}

<!-- Main Content Starts Here -->

<section class="bg-gray-100">
  <section class="bg-gray-100">
    <div class="flex mx-16 bg-white">

      <!-- Left container starts here  -->
      <div class="-4" style="width: 33%">
        <div class="sticky top-16 w-full h-[40%] mb-2 bg-white">
          <img
            style="height: 23rem; margin:auto; padding-top: 3rem; padding-bottom: 3rem; margin-top: 2%; margin-bottom: 2rem;"
            src="../../../../static/img/laptop-model-1.png" alt="LAPTOP MODEL 1">

          <div class="flex justify-center">
            <button
              class="rounded-bl-2xl font-bold py-3 px-9 mr-2 text-white bg-red-600 hover:bg-red-700 text-base text-center"
              style="font-family: 'Jura', sans-serif;">
              ADD TO CART
            </button>
            <button
              class="rounded-tr-2xl font-bold py-3 px-14 ml-2 text-white bg-red-600 hover:bg-red-700 text-base text-center"
              style="font-family: 'Jura', sans-serif;">
              BUY NOW
            </button>
          </div>
        </div>
      </div>


      <!-- Right container starts here  -->
      <!-- nav row section   -->
      <div class="w-2/3 mb-2 h-auto px-8 bg-white">
        <div class="container text-sm opacity-80 py-3">
          <a class="hover:text-red-600" href="/">Home</a>
          >
          <a class="hover:text-red-600" href="/products">Products</a>
          >
          <a class="hover:text-red-600" href="/laptops">Laptops</a>
          >
          <a class="hover:text-red-600" href="/laptop+model+1">Asus Strix G1..</a>
        </div>

        <div class="font-medium text-lg text-justify">
          ASUS ROG Strix SCAR 17 (2023) Ryzen 9 Octa Core 7945HX - (16 GB/1 TB SSD/Windows 11 Home/12 GB Graphics/NVIDIA
          GeForce RTX 4080) G733PZ-LL046WS Gaming Laptop (17.3 Inch, Off Black, 3.00 Kg, With MS Office)
        </div>

        <!-- Reviews Section -->
        <div class="my-4">
          <h4 class="sr-only">Reviews</h4>
          <div class="flex items-center">
            <div class="flex items-center">
              <!-- Active: "text-gray-900", Default: "text-gray-200" -->
              <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg class="text-gray-200 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <p class="sr-only">3.9 out of 5 stars</p>
            <a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500">117 reviews</a>
          </div>
        </div>

        <!-- Price Section -->
        <div class="py-2">
          <span class="text-3xl font-semibold mr-4">₹2,69,990</span>
          <span class="line-through opacity-80 mr-2">₹3,23,990</span>
          <span class="font-medium text-gray-500">16% off</span>
        </div>

        <!-- Offers Section  -->
        <div>
          <span>Available offers</span>
          <div>
            <p>Bank Offer10% instant discount on SBI Credit Card Transactions, up to ₹1,250 on orders of ₹5,000 and
              above <a href="">T&C</p>
            <p>Bank Offer10% instant discount on SBI Credit Card EMI Transactions, up to ₹1,750 on orders of ₹5,000 and
              above <a href="">T&C</p>
            <p>ank OfferExtra ₹500 off on SBI Credit Card Transactions, on a Net Cart Value of ₹25,000 and above <a
                href="">T&C</a></p>
            <p>Partner OfferSign up for Flipkart Pay Later and get Flipkart Gift Card worth up to ₹1,000 <a href="">Know
                More</a> </p>
          </div>
          <span>view 5 more offers</span>
        </div>

        <!-- Warranty Section  -->
        <div>
          <span>
            img
          </span>
          <span>
            1 Year Onsite Warranty
            <a href="">Know More</a>
          </span>
        </div>

        <!-- Pin Code Verify Section  -->



        <!-- Description Section  -->
        <div>
          <span>
            Description
          </span>
          <span>
            The ASUS ROG Strix SCAR 17 laptop, which has features that wow you from the minute you turn this machine on,
            offers dynamic operation and outstanding performance. With an AMD Ryzen 7000-HX Series CPU and a
            mind-blowing 175 W max TGP NVIDIA GeForce RTX 40-Series Laptop GPU, you can dominate the gaming world. A QHD
            display operating at 240 Hz is another feature of this laptop that contributes to its smooth performance.
            Moreover, this laptop has two SO-DIMMs and permits future RAM upgrades. This laptop also makes use of
            powerful CPU-based Two-way AI noise cancellation technology, which frees up the GPU to deliver a high FPS.
            You can eliminate noise from both your own microphone input and reception streams thanks to the gadget's
            ability to function with any input device and downstream connections.
          </span>
        </div>

        <!-- Product Detailed Description Section -->
        <div class="border">
          <div class="border font-bold">
            Product Description
          </div>
          <div class="flex">
            <p>
              Immaculate Performance
              Stay on top of the gaming realm with an AMD Ryzen 7000-HX Series CPU and an astounding 175 W max TGP
              NVIDIA GeForce RTX 40-Series Laptop GPU. Moreover, the ASUS ROG Strix SCAR 17 laptop can dynamically
              prioritise gaming performance or battery life autonomously thanks to a dedicated MUX Switch with NVIDIA
              Optimus compatibility.
            </p>
            <img src="" alt="IMG here">
          </div>
          <div class="flex">
            <p>
              Immaculate Performance
              Stay on top of the gaming realm with an AMD Ryzen 7000-HX Series CPU and an astounding 175 W max TGP
              NVIDIA GeForce RTX 40-Series Laptop GPU. Moreover, the ASUS ROG Strix SCAR 17 laptop can dynamically
              prioritise gaming performance or battery life autonomously thanks to a dedicated MUX Switch with NVIDIA
              Optimus compatibility.
            </p>
            <img src="" alt="IMG here">
          </div>
          <div class="flex">
            <p>
              Immaculate Performance
              Stay on top of the gaming realm with an AMD Ryzen 7000-HX Series CPU and an astounding 175 W max TGP
              NVIDIA GeForce RTX 40-Series Laptop GPU. Moreover, the ASUS ROG Strix SCAR 17 laptop can dynamically
              prioritise gaming performance or battery life autonomously thanks to a dedicated MUX Switch with NVIDIA
              Optimus compatibility.
            </p>
            <img src="" alt="IMG here">
          </div>
          <div class="border">
            View all Features
          </div>
        </div>

        <!-- Specifications Section  -->
        <div class="border-black">
          <div>
            Specifications
          </div>
          <div>
            <span class="block">General</span>
            <table>
              <tbody>
                <tr>
                  <td class="pr-10">Sales Package</td>
                  <td>Laptop, Battery, power adapter, user guide</td>
                </tr>
                <tr>
                  <td>Sales Package</td>
                  <td>Laptop, Battery, power adapter, user guide</td>
                </tr>
                <tr>
                  <td>Sales Package</td>
                  <td>Laptop, Battery, power adapter, user guide</td>
                </tr>
                <tr>
                  <td>Sales Package</td>
                  <td>Laptop, Battery, power adapter, user guide</td>
                </tr>
                <tr>
                  <td>Sales Package</td>
                  <td>Laptop, Battery, power adapter, user guide</td>
                </tr>
                <tr>
                  <td>Sales Package</td>
                  <td>Laptop, Battery, power adapter, user guide</td>
                </tr>
                <tr>
                  <td>Sales Package</td>
                  <td>Laptop, Battery, power adapter, user guide</td>
                </tr>
                <tr>
                  <td>Sales Package</td>
                  <td>Laptop, Battery, power adapter, user guide</td>
                </tr>
              </tbody>
            </table>
            <span class="block border bg-yellow-700">Know More</span>
          </div>
        </div>

        <!-- Doubt Section -->
        <div class="flex justify-between border-black">
          <span>
            Have doubt regarding this product?
          </span>
          <button class="border-black bg-red-600">
            Post Your Qustion
          </button>
        </div>

      </div>
    </div>
  </section>


  <!-- Bottom Section starts here  -->
  <section>
    <div class="h-auto mx-16 my-4 bg-blue-500">
      <ul class="flex justify-between">
        <li class="w-[22%] h-auto">
          <div><img src="" alt="An img"></div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi enim corrupti ipsam cupiditate totam
            esse commodi ipsa adipisci placeat minima, itaque numquam deleniti quos eum natus voluptate voluptates, ex
            doloremque nobis. Beatae similique incidunt magnam harum, sapiente saepe quo. Voluptates repudiandae aperiam
            fuga aspernatur ducimus, cupiditate deserunt ad veritatis nemo praesentium consequuntur quisquam sunt rem.
            Necessitatibus voluptate doloremque dolorum quam laborum qui dolorem! Temporibus aperiam aut iusto ea, cum
            minima laudantium mollitia cumque at qui.</div>
        </li>
        <li class="w-[22%] h-auto">
          <div><img src="" alt="An img"></div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi enim corrupti ipsam cupiditate totam
            esse commodi ipsa adipisci placeat minima, itaque numquam deleniti quos eum natus voluptate voluptates, ex
            doloremque nobis. Beatae similique incidunt magnam harum, sapiente saepe quo. Voluptates repudiandae aperiam
            fuga aspernatur ducimus, cupiditate deserunt ad veritatis nemo praesentium consequuntur quisquam sunt rem.
            Necessitatibus voluptate doloremque dolorum quam laborum qui dolorem! Temporibus aperiam aut iusto ea, cum
            minima laudantium mollitia cumque at qui.</div>
        </li>
        <li class="w-[22%] h-auto">
          <div><img src="" alt="An img"></div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi enim corrupti ipsam cupiditate totam
            esse commodi ipsa adipisci placeat minima, itaque numquam deleniti quos eum natus voluptate voluptates, ex
            doloremque nobis. Beatae similique incidunt magnam harum, sapiente saepe quo. Voluptates repudiandae aperiam
            fuga aspernatur ducimus, cupiditate deserunt ad veritatis nemo praesentium consequuntur quisquam sunt rem.
            Necessitatibus voluptate doloremque dolorum quam laborum qui dolorem! Temporibus aperiam aut iusto ea, cum
            minima laudantium mollitia cumque at qui.</div>
        </li>
        <li class="w-[22%] h-auto">
          <div><img src="" alt="An img"></div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi enim corrupti ipsam cupiditate totam
            esse commodi ipsa adipisci placeat minima, itaque numquam deleniti quos eum natus voluptate voluptates, ex
            doloremque nobis. Beatae similique incidunt magnam harum, sapiente saepe quo. Voluptates repudiandae aperiam
            fuga aspernatur ducimus, cupiditate deserunt ad veritatis nemo praesentium consequuntur quisquam sunt rem.
            Necessitatibus voluptate doloremque dolorum quam laborum qui dolorem! Temporibus aperiam aut iusto ea, cum
            minima laudantium mollitia cumque at qui.</div>
        </li>
      </ul>
    </div>
  </section>

</section>


{% endblock %}


<!-- Use for hovering img chage  -->
<!-- <div class="bg-foo hover:bg-bar">
  Hover me to change img
</div>
.bg-foo {
  background:url("foo.jpg");
}

.hover\:bg-bar:hover {
  background:url("bar.jpg");
} -->