{% extends 'base.html' %}

{% block content %}

<!-- Main Content Starts Here -->

<!-- Banner Starts Here -->
<section class="bg-gray-50 body-font">
  <a href="#">
    <div class="w-full h-[35rem] flex md:flex-row flex-col items-center bg-cover"
      style="background-image: url('../../static/img/banner.jpg');">
    </div>
  </a>
</section>


<!-- products  -->
<section class="text-gray-950 bg-gray-50 body-font">
  <div class="container px-5 pt-6 pb-10 mx-auto">
    <div class="container mx-auto text-center mb-16 text-gray-950 font-semibold text-4xl">
      EXPLORE OUR PRODUCTS
    </div>

    <div class="flex flex-wrap -m-4">

      <!-- product 1 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full hover:scale-110 cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="#" class="block relative h-48 rounded overflow-hidden ">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="../../static/img/laptop-product.png">
        </a>
        <a href="#">
          <h2 class="mt-3 title-font text-lg font-medium">Laptops</h2>
        </a>
      </div>

      <!-- product 2 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full hover:scale-110 cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="#" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="../../static/img/mouse-product.png">
        </a>
        <a href="#">
          <h2 class="mt-3 title-font text-lg font-medium">Mice</h2>
        </a>
      </div>

      <!-- product 3 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full hover:scale-110 cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="#" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="../../static/img/keyboard-product.png">
        </a>
        <a href="#">
          <h2 class="mt-3 title-font text-lg font-medium">Keyboards</h2>
        </a>
      </div>

      <!-- product 4 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full hover:scale-110 cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="#" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="../../static/img/headphone-product.png">
        </a>
        <a href="#">
          <h2 class="mt-3 title-font text-lg font-medium">Headphones</h2>
        </a>
      </div>

      <!-- product 5 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full hover:scale-110 cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="#" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="../../static/img/moniter-product.png">
        </a>
        <a href="#">
          <h2 class="mt-3 title-font text-lg font-medium">Monitors</h2>
        </a>
      </div>

    </div>
  </div>
</section>


<!-- Galary section starts here  -->
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="px-16 pt-10 pb-20 mx-auto flex flex-wrap w-full"
    style="background-image: url('../../static/img/rog_bg_pattern.jpg');">
    <div class="flex justify-center w-full mb-16 flex-wrap">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-white lg:w-1/3 lg:mb-0 mb-4 text-center">LIVING FOR
        GAMERS</h1>
    </div>
    <!-- Galary image 1 -->
    <div class="relative m-3 overflow-hidden" style="width:31%">
      <img alt="..." class="w-full object-cover h-full object-center block ease-in-out duration-300 hover:scale-110"
        src="static/img/galary-1.jpeg">

      <div class="absolute left-28 bottom-10 text-center">
        ROG Intelligent Colling
        <br>
        alfj adlsjfljkf l jasdfl jds
      </div>

    </div>
    <!-- Galary image 2 -->
    <div class="relative m-3 overflow-hidden" style="width:31%">
      <img alt="..." class="w-full object-cover h-full object-center block ease-in-out duration-300 hover:scale-110"
        src="static/img/galary-3.jpg">
    </div>
    <!-- Galary image 3 -->
    <div class="relative m-3 overflow-hidden" style="width:32%">
      <img alt="..." class="w-full object-cover h-full object-center block ease-in-out duration-300 hover:scale-110"
        src="static/img/galary-5.jpeg">
    </div>
    <!-- Galary image 4 -->
    <div class="relative mx-3 my-3 overflow-hidden" style="width:48%">
      <img alt="..." class="w-full object-cover h-full object-center block ease-in-out duration-300 hover:scale-110"
        src="static/img/galary-7.jpg">
    </div>
    <!-- Galary image 5 -->
    <div class="relative mx-3 my-3 overflow-hidden" style="width:48%">
      <img alt="..." class="w-full object-cover h-full object-center block ease-in-out duration-300 hover:scale-110"
        src="static/img/galary-9.jpg">
    </div>
    <!-- This will create problem in other displays -->
    <div class="relative left-[40rem] -bottom-[0.5rem] text-center mt-[1.3rem]">
      Learn More >
    </div>
  </div>
</section>


<!-- News Section -->
<section class="text-gray-600 body-font">
  <div class="container text-center pt-20">ROG IN ACTION</div>
  <div class="container px-12 py-14 mx-auto">
    <div class="flex flex-wrap -m-4">

      <!-- 1st news section  -->
      <a href="#">
        <div class="p-3 md:w-1/3">
          <div class="h-full overflow-hidden">
            <img class="lg:h-[18rem] md:h-36 w-full object-cover object-center" src="../../static/img/NEWS_1.jpg"
              alt="blog">
            <div class="p-6">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3 ">THE BEST JUST GOT BETTER: INTRODUCING THE
                2023 ROG STRIX SCAR 17 SPECIAL EDITION</h1>
              <p class="leading-relaxed mb-3">The SCAR 17 SE features the Intel Core i9-12950HX, a 65W TDP processor
                with 8 Performance and 8 Efficiency cores...</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 cursor-pointer">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>/127
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </a>

      <!-- 2nd news section  -->
      <a href="#">
        <div class="p-3 md:w-1/3">
          <div class="h-full overflow-hidden">
            <img class="lg:h-[18rem] md:h-36 w-full object-cover object-center" src="../../static/img/news_3.jpg"
              alt="blog">
            <div class="p-6">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">ROG EXTENDS GAMING LAPTOP LEADERSHIP WITH
                FASTER 4K 120HZ DISPLAYS</h1>
              <p class="leading-relaxed mb-3">OG has consistently been at the forefront of gaming laptop displays and
                continues to lead into the next...</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 cursor-pointer">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- 3rd news section  -->
      <a href="#">
        <div class="p-3 md:w-1/3">
          <div class="h-full overflow-hidden">
            <img class="lg:h-[18rem] md:h-36 w-full object-cover object-center" src="../../static/img/NEWS_2.jpg"
              alt="blog">
            <div class="p-6">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">BOLD POPS OF PINK SET OUR NEW ELECTRO PUNK
                LINEUP APART FROM THE COMPETITION</h1>
              <p class="leading-relaxed mb-3">reating a new color for any ROG device takes incredible care. Every
                potential tint has to expand our palette in an...</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 cursor-pointer">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="container text-center pb-12">LEARN MORE ></div>
</section>



<!-- Story Section -->

<section class="text-white">
  <a href="#">
    <div class="relative w-full flex md:flex-row flex-col items-center bg-cover shadow-md shadow-black"
      style="background-image: url('https://dlcdnwebimgs.asus.com/gain/FDFFE426-0A29-40D5-8E26-C838EB26CA8F'); height: 25rem;">
      <div class="absolute" style="width: 24rem;
                                right: 6rem;
                                top: 4rem;">
        ROG Story
        <br> Technology never sleeps, nor should the action. For those keen on winning power, the Republic of Gamers
        awaits. Driven by relentless innovation, ROG is committed to producing out-of-this-world experiences for gamers
        and enthusiasts everywhere.
      </div>
    </div>
  </a>
</section>

{% endblock %}