{% extends 'base.html' %}




{% block content %}

<!-- Banner starts here -->
<!-- <section class="bg-gray-50 body-font">
  <a href="#">
    <div class="w-full flex md:flex-row flex-col items-center bg-cover"
      style="background-image: url('../../static/img/product_banner.jpg');  height: 36rem;">
    </div>
  </a>
</section> -->


<!-- products Section starts  -->
<section class="text-gray-950 bg-gray-50 body-font">
  <div class="container px-8 pt-14 pb-24 mx-auto">
    <div class="container mx-auto text-center mb-16 text-gray-950 font-semibold text-4xl"
      style="font-family: 'Oswald', sans-serif;">
      CHOSE YOUR PRODUCT
    </div>

    <div class="flex flex-wrap -m-4" style="font-family: 'Roboto Condensed', sans-serif;">

      <!-- product 1 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-fullcursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="/laptops" class="block relative h-48 rounded overflow-hidden ">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block ease-in-out duration-300 hover:scale-110"
            src="../../static/img/laptop-product.png">
        </a>
        <a href="/laptops">
          <h2 class="mt-3 title-font text-lg font-medium">Laptops</h2>
        </a>
      </div>

      <!-- product 2 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="/mice" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block ease-in-out duration-300 hover:scale-110"
            src="../../static/img/mice-product.png">
        </a>
        <a href="/mice">
          <h2 class="mt-3 title-font text-lg font-medium">Mice</h2>
        </a>
      </div>

      <!-- product 3 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="/keyboards" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block ease-in-out duration-300 hover:scale-110"
            src="../../static/img/keyboard-product.png">
        </a>
        <a href="/keyboards">
          <h2 class="mt-3 title-font text-lg font-medium">Keyboards</h2>
        </a>
      </div>

      <!-- product 4 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="/headphones" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block ease-in-out duration-300 hover:scale-110"
            src="../../static/img/headphone-product.png">
        </a>
        <a href="/headphones">
          <h2 class="mt-3 title-font text-lg font-medium">Headphones</h2>
        </a>
      </div>

      <!-- product 5 -->
      <div
        class="lg:w-1/5 md:w-1/2 p-4 w-full cursor-pointer text-center text-gray-950 hover:text-red-600">
        <a href="/monitors" class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block ease-in-out duration-300 hover:scale-110"
            src="../../static/img/moniter-product.png">
        </a>
        <a href="/monitors">
          <h2 class="mt-3 title-font text-lg font-medium">Monitors</h2>
        </a>
      </div>

    </div>
  </div>
</section>


{% endblock %}