{% extends 'base.html' %}

{% block content %}

<!-- Banner Section  -->
<section class="body-font">
    <a href="#">
        <div class="w-full h-[36rem] flex md:flex-row flex-col items-center bg-cover"
            style="background-image: url('../../../static/img/product_banner.jpg');">
        </div>
    </a>
</section>


<!-- Laptop Listing Section -->

<section class="bg-gray-100 text-gray-600 body-font">
    <div class="container items-center m-2 pt-16 text-center text-4xl font-medium text-black">
        <strong>LAPTOPS</strong>
    </div>
    <div class="container px-12 py-10 mx-auto">
        <div class="flex flex-wrap -m-4">

            <!-- product 1  -->
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full bg-white border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="../../../static/img/Laptop_prod-1.png">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
                    <p class="mt-1">$16.00</p>
                </div>
            </div>
            <!-- product 2  -->
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="../../../static/img/Laptop_prod-2.png">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
                    <p class="mt-1">$16.00</p>
                </div>
            </div>
            <!-- product 3  -->
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="../../../static/img/Laptop_prod-3.png">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
                    <p class="mt-1">$16.00</p>
                </div>
            </div>
            <!-- product 4  -->
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="../../../static/img/Laptop_prod-4.png">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
                    <p class="mt-1">$16.00</p>
                </div>
            </div>
            <!-- product 5  -->
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="../../../static/img/Laptop_prod-5.png">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
                    <p class="mt-1">$16.00</p>
                </div>
            </div>
            <!-- product 6  -->
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="../../../static/img/Laptop_prod-5.png">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
                    <p class="mt-1">$16.00</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}