{% extends 'base.html' %}

{% block content %}

<!-- Banner Section  -->
<section class="body-font">
    <a href="#">
        <div class="w-full h-[36rem] flex md:flex-row flex-col items-center bg-cover"
            style="background-image: url('../../../static/img/mice-banner.jpg');">
        </div>
    </a>
</section>


<!-- Laptop Listing Section -->
<section class="bg-gray-100 text-gray-600 body-font">
    <div class="container items-center m-2 pt-16 text-center text-4xl font-medium text-black">
        <strong>MICE</strong>
    </div>
    <div class="container px-20 py-10 mx-auto">
        <div class="flex justify-between flex-wrap -m-4">

            <!-- product 1  -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-1.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 2  -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-10.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 3  -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-3.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 4  -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-4.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 5  -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2 my-4" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-5.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 6 -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2 my-4" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-6.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 7/1  -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2 my-4" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-11.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 8  -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2 my-4" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-4.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 9 -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2 mb-16" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-8.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 10/1 -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2 mb-16" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-2.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 11 -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2 mb-16" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-7.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
            <!-- product 12 -->
            <div class="lg:w-[23%] md:w-[23%] p-4 w-full bg-white border m-2 mb-16" style="height: 44rem;">
                <a class="block relative h-96 rounded overflow-hidden" style="width: 16rem; height: 35%;">
                    <img alt="ecommerce" class="object-cover object-center w-72 h-full block ml-4"
                        src="../../../static/img/mice_prod-6.png">
                </a>
                <div class="mt-5 ml-2 pl-2">
                    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">ROG STRIX SCAR 17 (2023) G733PZ-LL04WS</h2>
                    <ol class="list-disc ml-4 text-gray-500 text-sm title-font">
                        <li class="mb-1">
                            NVIDIA® GeForce RTX™ 4080 Laptop GPU
                        </li>
                        <li class="mb-1">
                            Windows 11 Home
                        </li>
                        <li class="mb-1">
                            AMD Ryzen™ 9 7945HX
                        </li>
                        <li class="mb-1">
                            43.94cm(17.3"), WQHD (2560 x 1440) 16:9, Refresh Rate:240Hz
                        </li>
                        <li class="mb-1">
                            1TB M.2 NVMe™ PCIe® 4.0 SSD Supports slots up to max of: 4TB M.2 NVMe™ PCIe® 4.0 SSD
                        </li>
                    </ol>
                    <hr class="mt-4 mr-4">
                    <p class="mt-1 text-xs text-gray-900">ROG Exclusive Price</p>
                    <p class="mt-1 text-3xl text-black">₹ 2,69,990.00</p>
                    <div class="flex">
                        <p class="text-red-600 mt-1 text-xs mr-2">
                            Save ₹ 54,000.00
                        <p class="mt-1 text-xs text-gray-900 line-through"> ₹ 3,23,990.00</p>
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 font-bold rounded-bl-xl text-base px-5 py-2.5 text-center"
                        style="    width: 15rem;
                        margin-left: 0.5rem;
                        margin-top: 1rem;
                        height: 2.9rem;
                        font-family: 'Jura', sans-serif;">BUY NOW</button>
                    </a>
                </div>
            </div>
        </div>
</section>


{% endblock %}